<section class="hero is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Angular Tags CRUD
      </h1>
      <h2 class="subtitle">
        Create, Read, Update and Delete Tags.
         <small>Tags can be separated with comma, semicolon or line break</small>
      </h2>
    </div>
  </div>
</section>
<hr>
<div class="columns">
  <div class="column is-mobile is-half is-offset-one-quarter has-background-white-ter">
    <div class="field">
      <div class="control">
        <textarea
          class="textarea is-info"
          placeholder="Enter tags separated with comma, semicolon or line break"></textarea>
        <br />
        <button class="button is-info">Add Tag(s)</button>
      </div>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-mobile is-half is-offset-one-quarter has-background-white-ter">
    <div class="tags has-addons">
      <span class="tag is-black is-medium">
        Hello
        <button class="delete is-small"></button>
      </span>
    </div>
  </div>
</div>

<div class="columns">
  <div class="column is-mobile is-half is-offset-one-quarter">
    <button class="button is-info">Edit Tag(s)</button>
  </div>
</div>
